<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/base.css">
    <link rel="stylesheet" type="text/css" href="css/speechEvaluation.css">
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/compositionDetail.js"></script>  
    <script type="text/javascript" src='js/jweixin-1.4.0.js'></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script> 
    <script type="text/javascript" src="js/wxShare.js"></script> 
    <script type="text/javascript" src="js/vue.min.js"></script>   
	  <title>万词王得分</title>
    <script type="text/javascript">
        checkCookieWXopenId();    
    </script>
</head>
<body>
    
   <div class="challenge_score" v-bind:style="{'min-height':windowHeight+'px'}" v-cloak>
   	    
   	    <div class="got_score_contain">
   	         <!-- 得分   -->
   	         <template>
               <!-- 得分在[80,100)区间;  -->
   	    	   <img src="http://web.pythe.cn/images/game/emotion/over_highscore_bg.png" alt="" class="got_score_decoration" v-if='currentUserScore>=80'>

               <!-- 得分在[0,80)区间;  -->
   	    	   <img src="http://web.pythe.cn/images/game/emotion/over_lowscore_bg.png" alt="" class="got_score_decoration" v-else>

   	         </template>
   	         <h1 class="show_score_number">{{currentUserScore}}<span class="score_sub">分</span></h1>
   	         
   	         <div class="search_score_sortContain">
   	         	 <div class="search_score_sortBtn" v-on:click='rankSortList'></div>
   	         </div>
             
             <div class="for_padding">
              
	   	         <!-- 邀请好友来PK -->
	   	         <div class="invite_friend_pk">
	   	         	 <img src="http://web.pythe.cn/images/game/emotion/btn_pk.png" v-on:click='pkShareFn'>
	   	         </div>

	   	         <!-- 错题本 词本-->
	   	         <div class="seache_explain_contain">
	   	         	 <div class="seache_explain_btn_contain clearFixed">
	   	         	    <template>
	   	         	 	  <img src="http://web.pythe.cn/images/game/emotion/btn_note_wrongword_default.png" v-if='wordNote.wrongWordNote==0' v-on:click='wordNoteEvent()'>
	   	         	 	  <img src="http://web.pythe.cn/images/game/emotion/btn_note_wrongword_select.png" v-else>
	   	         	 	</template>

	   	         	 	<template>
	   	         	    	<img src="http://web.pythe.cn/images/game/emotion/btn_note_rightword_default.png" class="seache_explain_book" v-if='wordNote.rightWordNote==0' v-on:click='wordNoteEvent()'>
	   	         	    	<img src="http://web.pythe.cn/images/game/emotion/btn_note_rightword_select.png" class="seache_explain_book" v-else>	   	         	 		
	   	         	 	</template>

	   	         	 </div>

	   	         	 <div class="seache_explain_wordContain">

	   	         	     <!-- 错题本ul -->
	   	         	 	 <ul class="seache_explain_wordUl" v-if='wordNote.wrongWordNote==1'>
	   	         	 	 	 <li class="seache_explain_wordLi" v-for='(item,index) in wrongWords'>
	   	         	 	 	    <div class="clearFixed">
	   	         	 	 	 	  <span class="seache_explain_index">{{index+1}}、</span>
	   	         	 	 	 	  <div class="seache_explain_right">
	   	         	 	 	 	 	 <h1 class="seache_explain_txt">{{item.word}}<span class="seache_explainBtn" v-on:click="searchWordExplain(item.word.toString(),item.annotation.toString(),item.pinyin.toString())">（查看解释）</span></h1>
	   	         	 	 	 	 	 <h1 class="seache_explain_pinyin">{{item.pinyin}}</h1>
	   	         	 	 	 	  </div>
	   	         	 	 	 	 </div>
	   	         	 	 	 </li>
	   	         	 	 </ul>

	   	         	     <!-- 词本ul -->
	   	         	 	 <ul class="seache_explain_wordUl" v-else>
	   	         	 	 	 <li class="seache_explain_wordLi" v-for='(item,index) in rightWords'>
	   	         	 	 	    <div class="clearFixed">
	   	         	 	 	 	  <span class="seache_explain_index">{{index+1}}、</span>
	   	         	 	 	 	  <div class="seache_explain_right">
	   	         	 	 	 	 	 <h1 class="seache_explain_txt">{{item.word}}<span class="seache_explainBtn" v-on:click="searchWordExplain(item.word.toString(),item.annotation.toString(),item.pinyin.toString())">（查看解释）</span></h1>
	   	         	 	 	 	 	 <h1 class="seache_explain_pinyin">{{item.pinyin}}</h1>
	   	         	 	 	 	  </div>
	   	         	 	 	 	 </div>
	   	         	 	 	 </li>
	   	         	 	 	 
	   	         	 	 </ul>
	   	         	 </div>
	   	         </div>

             </div>

             <div class="about_pythe_app">
             	  <img src="http://web.pythe.cn/images/game/emotion/footer.png" alt="" class="">            	  
             </div>   	         

   	    </div>

   	    <!-- 提示内容弹窗 -->
   	    <div class="toast_model" v-bind:style="{'height':windowHeight+'px'}" v-if='isShowExplain'>
	   	    <div class="popup">
	        <span class="popup-title"><img src="./http://web.pythe.cn/images/game/emotion/popup_title_tip.png" /></span>
	        <div class="popup-content">
	            <div class="popup-tip-content">
	                <label class="tip-phrase-selected" >{{wordExplain.word}}</label>
	                <span class="pinyin">{{wordExplain.pinyin}}</span>
	                <span class="annotation">{{wordExplain.explain}}</span>
	                <button class="close" v-on:click='closeExplain'></button>
	             </div>
	         </div>
	        </div>
       </div>

       <!-- 分享弹窗 -->
        <div class="toast_model" v-bind:style="{'height':windowHeight+'px'}" v-if='isShowShareLead'>
          <div class="share_leader_contain">
            <div class="leader_text">
               <div class="clearFixed leadTop">
                   <img src="http://web.pythe.cn/images/game/emotion/move_leader.gif" class="move_leader">
                   <img src="http://web.pythe.cn/images/game/emotion/share_line.png" class="share_line_lead">
               </div>
               <!-- <img src="http://web.pythe.cn/images/game/emotion/share_guide.png" > -->
               <img src="http://web.pythe.cn/images/game/emotion/share_guide.png" >     
               <div class="closeShareLine"><img src="http://web.pythe.cn/images/game/emotion/share_tip_btn.png" class=""  v-on:click='closeShareLine' ></div>           
            </div>
          </div>
       </div>
   	    
   </div>
   
   <script type="text/javascript">
   	  // $('.challenge_score').css('min-height',$(window).height());
   	  var challengeScore=new Vue({
   	  	  "el":'.challenge_score',
   	  	  data:{
   	  	  	windowHeight:0,
   	  	  	wordNote:{
   	  	  		wrongWordNote:1,
   	  	  		rightWordNote:0
   	  	  	},
   	  	  	shareDec:{
               title:"万词王游戏PK赛",
               dec:"你想来PK他吗？"
         	},

         	currentUserScore:0, //分数
         	isShowExplain:false,
         	wrongWords:{},  //错词本
         	rightWords:{} , //词本
         	wordExplain:{},
          // 是否显示指引弹窗
          isShowShareLead:false
   	  	  },
   	  	  methods:{

            // 普通分享按钮
             pkShareFn:function(){
                 this.isShowShareLead=true;
             },

             closeShareLine:function(){
                 this.isShowShareLead=false;
             },

   	  	  	 // 处理分数 词本 
   	  	  	 handleScoreWord:function(){
                this.currentUserScore=$.cookie('score');
                var that=this;
                $.ajax({
                    type: 'POST',
                    url: interfaceUrl2+'/pythe-auto-task/rest/match/wcw/log/word/query',
                    data: JSON.stringify({
                        wxOpenId:$.cookie('wxOpenId'),
                    }),
                    async:false,
                    dataType:"json",
                    contentType:"application/json",
                    timeout:5000,
                    success: function(res){                 
                       if(res.status==200){
                        that.rightWords=res.data.right;
                        that.wrongWords=res.data.wrong;
                       }else{
                          pytheLayOutObj.pytheLayOutFun({
                            setTime:3000,
                            tips:'没有数据'
                          }) 
                       }                                 
                    },

                    error:function(err){
                      pytheLayOutObj.pytheLayOutFun({
                           setTime:3000,
                           tips:'数据获取失败，请稍后重试'
                      })   
                    },
                    complete:function(status){
                      if (status == 'timeout') {
                         ajaxTimeOut.abort(); //取消请求
                         pytheLayOutObj.pytheLayOutFun({
                           setTime:3000,
                           tips:'数据获取失败，请稍后重试'
                         })
                      }
                    }
                });
   	  	  	 },

            
   	  	  	 // 切换词本、错题本
             wordNoteEvent:function(){
                var that=this;
                console.log(that.wordNote.wrongWordNote+':'+that.wordNote.rightWordNote)
                if(that.wordNote.wrongWordNote==0){
                     that.wordNote.wrongWordNote=1;
                     that.wordNote.rightWordNote=0;
                }else if(that.wordNote.rightWordNote==0){
                	 that.wordNote.wrongWordNote=0;
                     that.wordNote.rightWordNote=1;
                }
             },

             searchWordExplain:function(word,explain,pinyin){
                 var that=this;
                 that.wordExplain.word= word;
                 that.wordExplain.explain= explain;
                 that.wordExplain.pinyin= pinyin;
               	 that.isShowExplain=true;
             },

             closeExplain:function(){
             	this.isShowExplain=false;
             },

             // 点击重新挑战
             challengeAgain:function(){
               window.location.assign('clearEmotionGame.html?isPK=0');
             },
                         
             // 点击排行榜
             rankSortList:function(){
             	window.location.href='challengeRankSort.html';
             }
   	  	  },
   	  	  mounted:function(){
             this.windowHeight=window.innerHeight;
             // 右上角的分享
             setWxShare();            
		         setPKShareInfo(this.shareDec.title,this.shareDec.dec);
             this.handleScoreWord(); 

   	  	  }
   	  })
   </script>
</body>
</html>